<a href="https://colab.research.google.com/github/umeshbagade/CP/blob/main/python/Python_HowToSolveItByComp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.1.1 Given two glasses A and B. Glass A is fulll of raspberry drink and glass B is full of lemonade. Suggest a way of exchanging the contents of glasses A and B.

In [ ]:
A = "raspberry drink"
B = "lemonade drink"
print(f"Contents of A : {A}")
print(f"Contents of B : {B}")

T = A
A = B
B =T
print("After swaping the contents:")
print(f"Contents of A : {A}")
print(f"Contents of B : {B}")

Contents of A : raspberry drink
Contents of B : lemonade drink
After swaping the contents:
Contents of A : lemonade drink
Contents of B : raspberry drink

2.1.2 Design an algorithm that makes the following exahanges:   a->b->c  and c->a  the arrows indicate that b is to assume the value of a,c the value of b, and so on.

In [ ]:
a = 5
b = 6
c = 7
print("Values Before Swap :")
print(f" Value of a = {a}")
print(f" Value of b = {b}")
print(f" Value of c = {c}")

temp = b
b = a
a = c
c = temp

print("Values After Swap :")
print(f" Value of a = {a}")
print(f" Value of b = {b}")
print(f" Value of c = {c}")

Values Before Swap :
 Value of a = 5
 Value of b = 6
 Value of c = 7
Values After Swap :
 Value of a = 7
 Value of b = 5
 Value of c = 6

2.1.3 Design an algorithm that makes the following exchanges:
  a <- b <- c <- d  and a->d

In [ ]:
a = 1
b = 2
c = 3
d = 4

print("Values Before Swap :")
print(f" Value of a = {a}")
print(f" Value of b = {b}")
print(f" Value of c = {c}")
print(f" Value of d = {d}")
temp = a
a = b
b = c
c = d
d = temp

print("Values After Swap :")
print(f" Value of a = {a}")
print(f" Value of b = {b}")
print(f" Value of c = {c}")
print(f" Value of d = {d}")

Values Before Swap :
 Value of a = 1
 Value of b = 2
 Value of c = 3
 Value of d = 4
Values After Swap :
 Value of a = 2
 Value of b = 3
 Value of c = 4
 Value of d = 1

2.1.4 Given two variables of integer type a and b, exchange their values without using a third tempotaty variable

In [ ]:
a = 5
b = 10

print(f" Value of before Swap :")
print(f" Value of a = {a}")
print(f" Value of b = {b}")
# a, b = b, a // or
a = a+b
b = a-b
a = a-b

print(f" Value of after Swap :")
print(f" Value of a = {a}")
print(f" Value of b = {b}")

 Value of before Swap :
 Value of a = 5
 Value of b = 10
 Value of after Swap :
 Value of a = 10
 Value of b = 5

2.2 Given a set of n students' examination marks (in range 0 to 100) make a count of the number of students that passed the examination. A pass is awarded for all marks of 50 and above.

In [ ]:
print("Enter the number of Students ")
n  = int(input())
print(f"Enter the marks of {n} students : ")
lst = list(map(int,input("\nEnter the Marks of Students: ").strip().split()))[:n]
count = 0
for i in lst:
  if i>=50:
    count = count+1
print(f"{count} students passed out of {n} students")

2.2.1 Modify the algorithm above so that marks are read until an end-of-file is encountered. For this set of marks determine the total number of marks, the number of passes, and the precentage pass rate.

In [ ]:
lst = list(map(int,input("\nEnter the Marks of Students: ").strip().split()))[:n]
n = len(lst)
count = 0
total=0
for i in lst:
  if i>=50:
    count = count+1
    total = i+total
print(f"Total no of Students/Marks : {n}")
print(f"Total no of students Passed : {count}")
print(f"Sum of the Marks of Students: {total}")
per = count*100/n
print(f"Percentage Pass Rate : {per}")

2.2.2 Design an algorithm that reads a list of numbers and makes a count of the number of negatives and the number of non-negative members in the set

In [ ]:
lst = list(map(int,input("\nEnter the Marks of Students: ").split(" ")))
n = len(lst)
positive = 0
negative = 0
for i in lst:
  if i >= 0:
    positive+=1
  else:
    negative+=1
print(f"The number of Negative Numbers in List is {negative}")
print(f"The number of Positive Numbers in List is {positive}")

2.3.1 Design an algorithm to compute the average of n numbers.

In [ ]:
lst = list(map(int,input("\nEnter the Numbers: ").split(" ")))
n = len(lst)
total=0
for i in lst:
  total += i

avg = total/n
print(f" The average of given {n} numbers is {avg}")

2.3.2 Redesign the algorithm so that it only needs to perform n-1 additions to sum n numbers.

In [ ]:
lst = list(map(int,input("\nEnter the Numbers: ").split(" ")))
n = len(lst)
total=lst[0]
for i in range(1,n):
  total += lst[i]

avg = total/n
print(f" The average of given {n} numbers is {avg}")

2.3.3 Design an algorithm to compute the sum of the squares of n numbers.

In [ ]:
lst = list(map(int,input("\nEnter the Numbers: ").split(" ")))
n = len(lst)
total=lst[0]*lst[0]
for i in range(1,n):
  total += (lst[i]*lst[i])


print(f" The sum of squares of given {n} numbers is {total}")

2.3.4 The harmonic mean is sometimes used as a mean of central tendency. Develop an algorithm to compute the harmonic mean of n data values.

In [ ]:
lst = list(map(int,input("\nEnter the Numbers: ").split(" ")))
n = len(lst)
total=0
for i in lst:
  total += 1/i

harmonic_mean = n/total
print(f" The harmonic mean of given numbers is {harmonic_mean}")

2.3.5 Develop an algorithm to compute the sums for the first n terms (n>=0) of the following series:
a. s = 1+2+3+...
b. s = 1+3+5+...
c. s = 2+4+6+...
d. s = 1+1/2+1/3+...

In [ ]:
n = int(input())
s1 = 0
for i in range(1,n+1):
  s1 = s1+i
print(f"Sum as per first series is {s1}")

s2 = 0
count = 0
i=1
while count<n:
  if(i%2==1):
    s2 = s2+i
    count+=1
  i+=1

print(f"Sum as per second series is {s2}")

s3 =0
count =0
i=2
while count<n:
  if(i%2==0):
    s3 = s3+i
    count+=1
  i+=1
print(f"Sum as per third series is {s3}")

s4=0

for i in range(1,n+1):
  s4 = s4+1/i
print(f"Sum as per fourth series is {s4}")

2.3.6 Generate the first n terms of the sequence
1 2 4 8 16 32

In [ ]:
n = int(input())
count =1
i=1

print(i),
while count<n:
  i = i*2
  count+=1
  print(i),

2.3.7 Develop an algorithm that prints out n values of the sequence:
1 -1 1 -1 1 -1 1 ...

In [ ]:
n = int(input())
for i in range(n):
  if(i%2==0):
    print(1)
  else:
    print(-1)

2.3.8 Develop an algorithm to compute the sum of the first n terms(n>=1) of the series

s= 1-3+5-7+9

In [ ]:
n = int(input())
i=1
isPositive = 1
sum=0
count=0
while count<n:
  if i % 2 == 1:
    if isPositive==1:
      sum += i
      isPositive=0
    else:
      sum -= i
      isPositive=1
    count+=1
  i+=1

print(f"The Calculated sum is {sum}")

2.4 Given a number n, compute n factorial (written as n!) where n>=0

In [ ]:
n = int(input())
factorial =1
for i in range(1,n+1):
  factorial = factorial*i
print(f"Factorial of {n} is {factorial}")

2.4.1 For a given n, design an algorithm to compute 1/n!

In [ ]:
n = int(input())
factorial =1
for i in range(1,n+1):
  factorial = factorial*i

factorial = 1/factorial
print(f"1/{n}! factorial is {factorial}")

2.4.2 For a given x and a given n, design an algorithm to compute x^n/n!.

In [ ]:
x = int(input("Enter the Value of x: "))
n = int(input("Enter the Value of n: "))
fact=1
for i in range(1,n+1):
  fact = fact * i

result = pow(x,n)/fact
print(f"Result is {result}")

2.4.3 Design an algorithm to determine whether or not a number n is a factorial number

In [ ]:
def isFactorial(n) :
    i = 1;
    while(True) :
         
        if (n % i == 0) :
            n //= i;
             
        else :
            break;
             
        i += 1;
 
    if (n == 1) :
        return True;
     
    else :
        return False;
 

n = int(input());
ans = isFactorial(n)
if (ans == 1) :
  print("Yes")
else :
  print("No")

2.4.4 Design an algorithm which, given some integer n, finds the largest factorial numer present as a factor in n

In [ ]:
def isFactorial(n) :
    i = 1
    while(True) :
         
        if (n % i == 0) :
            n //= i
             
        else :
            break
             
        i += 1;
 
    if (n == 1) :
        return True
     
    else :
        return False
      
n = int(input())
largest_fact = 0
for i in range(1,n+1):
  if n%i==0:
    if isFactorial(i):
      largest_fact = i

if largest_fact==0:
  print(f"Largest factorial not found...")
else:
  print(f"Largest factor which is factorial is {largest_fact}")

120
Largest factor which is factorial is 120

2.4.5 Design an algorithm to simulate multiplication by addition. Your program should accept as input two integers (they may be zero, positive, or negative).

In [ ]:
x = int(input())
y = int(input())
mul = 0
for i in range(0,x):
  mul+=y

print(f"Multiplication of {x} and {y} is {mul}")

2.5.1 Design an algorithm to find the sum of the first n terms of the series

fs = 0!+1!+2!+3!+...n! (n>=0)

In [ ]:
n  = int(input())
sum =0
fact =1
for i in range(1,n+1):
  fact = fact*i
  sum = sum+fact

print(f"The sum of factorials of first {n} integers i {sum}")

5
The sum of factorials of first 5 integers i 153

2.5.2 The exponential growth constant e is characterized by the expression

e = 1/0!+1/1!+1/2!+...

Devise an algorithm to compute e to n terms

In [ ]:
e = 0
fact =1
n = int(input())
for i in range(1,n+1):
  fact= fact*i
  e += 1/fact
print(f"Value of e is {e}")

4
Value of e is 1.7083333333333335

2.5.3 Design an algorithm to evaluate the function cos(x) as defined by the infinite series expansion

cos(x) = 1 - x^2/2! + x^4/4! - x^6/6! + ..

The acceptable error for the computation is 1/1000000

In [ ]:

PI = 3.142;
 
def cosXSertiesSum(x, n):
     
    x = x * (PI / 180.0);
 
    res = 1;
    sign = 1;
    fact = 1;
    pow = 1;
     
    for i in range(1,5):
        sign = sign * (-1);
        fact = fact * (2 * i - 1) * (2 * i);
        pow = pow * x * x;
        res = res + sign * pow / fact;
 
    return res;
 

x = 50;
n = 5;
print(round(cosXSertiesSum(x, 5), 6));

0.642701

2.6.1 - Implement the Fibonacci algorithm as a function that accepts as input two consecutive Fibonacci numbers and returns as output the next Fibonacci number

In [ ]:
def nextFibo(a,b):
    return a+b

a = int(input("Enter value for a: "))
b = int(input("Enter value for b: "))
print("The next Fibonacci number:",nextFibo(a,b))

2.6.2 The first few numbers of the Lucas sequence which is a variation on the Fibonacci sequence are:
1 3 4 7 11 18 29 ...
Design an algorithm to generate the Lucas sequence

In [ ]:
def lucas(n):
    if n==0:
        return 1
    if n==1:
        return 3
    return lucas(n-1) + lucas(n-2)

n = int(input("Enter a number: "))
print("Lucas Sequence:",end=" ")
for i in range(n):
    print(lucas(i),end=" ")
print()

2.6.3 Given a=0, b=1, and c=1 are the first three numbers of some sequence. 
All other numbers in the sequence are generated from the sum of their three most recent predecessors. 
Design an algorithm to generate this sequence.

In [ ]:

seq = [0,1,1]
n = int(input("Enter a number: "))
for i in range(n-3):
    seq.append(seq[i]+seq[i+1]+seq[i+2])

print("Generated sequence: ",end="")
for i in range(n):
    print(seq[i],end=" ")
print()

2.6.4 Given that two numbers d and e are suspected of being consecutive
members of the Fibonacci sequence design an algorithm that will
refute or confirm this conjecture

In [ ]:
def checkFiboCon(d,e):
    seq = [0,1]
    i=0
    while True:
        fibon = seq[i]+seq[i+1]
        if(fibon<=e and (e!=1 or d==1)):
            seq.append(fibon)
        else:
            break
        i+=1

    if(seq[-2]==d and seq[-1]==e):
        print(f'{d} and {e} are consecutive members')
    else:
        print(f'{d} and {e} are not consecutive members')

d, e = input("Enter two values: ").split()
checkFiboCon(int(d),int(e))

2.7.1 Design an algorithm that counts the number of digits in an integer

In [82]:
n=int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

Enter number:123
The number of digits in the number are: 3

2.7.2 Design an algorithm to sum the digits in an integer

In [83]:
def getSum(n):
 
    sum = 0
    while (n != 0):
 
        sum = sum + int(n % 10)
        n = int(n/10)
 
    return sum
 
n = int(input("Enter the number:"))
print(getSum(n))

Enter the number:1234
10

2.7.3 Design an algorithm that reads in a set of n single decimal integer. 

For example, the algorithm should convert the set of 5 digits {2,7,4,9,3} to the integer 27493

In [84]:
lst = list(map(int,input("\nEnter the Numbers: ").split(" ")))
number = 0

for i in lst:
  number = number *10 + i

print(f"The number is {number}")

Enter the Numbers: 1 2 3 4
The number is 1234

3.1.1 Given a number m devise an algorithm to compute its square root.

In [ ]:
m = int(input())
n = 1

if n * n == m:
	print("1")
else:
	while(n * n != m):
		if n * n < m:
			n += 1
		else:
			n -= 1
	print(n)

3.1.2 The geometric mean is used to measure central tendancy. It is desfined as

In [ ]:
mult = 1
count = 0

for n in input().split():
	mult *= int(n)
	count += 1

gMean = (mult)**(1/count)
print("Geometric mean:", gMean)

3.1.3 Design and implement an implement an algorithm to iteratively compute the reciprocal of a number

In [ ]:
n = int(input())
print("1/"+str(n))

3.2.1 Given an integer n devise an algorithm that will find its smallest exact divisor other than one

In [ ]:
n=int(input("Enter an integer: "))
a=[]
for i in range(2,n+1):
    if(n%i==0):
        a.append(i)
a.sort()
print("Smallest divisor is:", a[0])

3.2.2 Modify the algorithm so that the square root of n does not need to be explicitly computed

In [ ]:
n = int(input("Enter positive number: "))

print("Factors of", str(n)+": ")
print("1", end=" ")
for i in range(2, n+1):
	if(n%i == 0):
		print(str(i), end=" ")

3.2.3 Design and implement an algorithm that finds the smallest positive integer that has n or more divisors

In [ ]:
n = int(input("Enter number: "))

if n == 1:
	print("1")
else:
	num = 2
	while True:
		count = 1
		for i in range(2, num+1):
			if num%i == 0:
				count += 1
		if count == n:
			print(num)
			break
		else:
			num += 1

______________________________________________________________________________________________________________________________

Array Techniques

4.1 Rearrange the elements in an array so that they appear in reverse order

In [55]:
a = [1,2,3,4,5]
# a.reverse()
n =5
mid = n//2

for i in range(mid):
  a[i],a[n-1] = a[n-1],a[i]
  n-=1

print(a)

[5, 4, 3, 2, 1]

4.1.3 Design an algorithm that places the kth element of an array in position 1, the (k+1)th element in position 2, etc. The original 1st element is placed at (n-k+1) and so on.

In [64]:
a = [1,2,3,4,5,6]
k = 3

print(a[k:]+a[:k])

[4, 5, 6, 1, 2, 3]

4.2 Find the maximum number in a set of n numbers.

In [65]:
lst = [2,3,4,6,345,7,3,6,7]
max =lst[0]
for i in lst:
  if max<i:
    max = i


print(f"Maximum Number in list is {max}")

Maximum Number in list is 345

4.3.1 Design an algorithm to find the minimum in an array

In [67]:
lst = [1,2,344,3,9,-44,45,3]
min = lst[0]
for i in lst:
  if i < min:
    min = i

print(f" The minimum element in array is {min}")

 The minimum element in array is -44

4.3.2 Design an algorithm to find the number of times the maximum occurs in an array of n elements. Only one pass through the array should be made.

In [72]:
lst = [1,3,5,6,3,76,3,45,76,4,76]
count =0 
max = lst[0]
for i in lst:
  if i == max:
    count+=1
  elif max < i:
    max =i
    count=0

print(f"The Maximum no is {max} and the no of occurences of max is {count+1}")

The Maximum no is 76 and the no of occurences of max is 3

4.3.3 Design an algorithm to find the maximum in a set and the position

(a) where it first occurs;

(b) where it last occurs.

In [74]:
lst = [1,2,4,5,6,4,4,6,6]
max  = lst[0]
for i in lst:
  if max<i:
    max = i
first = 0
last = 0
for i in range(len(lst)):
  if max==lst[i]:
    first = i
    break
for i in range(len(lst)):
  if max==lst[i]:
    last = i
    

print(f"The first time {max} occurs is {first} and last time is {last}")

The first time 6 occurs is 4 and last time is 8

4.3.5 Design an algorithm to find the second largest value in an array of n elements

In [75]:
lst = [1,23,4,5,44,3,3,5,3,6,4]
sec_largest = lst[0]
max = lst[0]
for i in lst:
  if max < i:
    max = i
for i in lst:
  if i != max and sec_largest<i:
    sec_largest = i

print(f"The Second largest number in the List is {sec_largest}")

The Second largest number in the List is 23

4.3.6 Find the position of a number x (if it occurs) in an array of n elements

In [76]:
a = [1,3,4,5,6,4,3,3,35,6,3,6,343,4,5]
x = int(input())
count = 0
for i in a:
  if i == x:
    count+=1

print(f"The number of times {x} occurs in array is {count}")

4
The number of times 4 occurs in array is 3

4.3.8 Design an algorithm to find the minimum, the maximum, and how many times they both occur in an array of n elements.

In [77]:
lst = [1,2,3,33,1,1,3,3,33,3,33]
min = lst[0]
max = min

for i in lst:
  if i>max:
    max =i
  elif i<min:
    min =i

countmax=0
countmin =0
for i in lst:
  if i==max:
    countmax+=1
  if i == min:
    countmin+=1
print(f"The no of times {max} occurs {countmax}")
print(f"The no of times {min} occurs {countmin}")

The no of times 33 occurs 3
The no of times 1 occurs 3

4.4 Remove all duplicates from an ordered array and contract the array accordingly

In [79]:
lst = list(map(int,input("\nEnter the Numbers: ").split(" ")))
lst1 = set(lst)
print("The List after removing duplicate entries :")
print(lst1)

Enter the Numbers: 1 1 2 2 3 3 4
The List after removing duplicate entries :
{1, 2, 3, 4}